<div class="container-fluid mt-2">
    <div id="reset">
      <h2>Reset Password</h2><br>
        
      <div *ngIf="datasaved && !showForm" style="margin-bottom: 400px;" class="alert alert-success">{{ message }}</div>
      <form [formGroup]='resetForm' *ngIf="showForm">
        <div *ngIf="datasaved" class="alert alert-success">{{ message }}</div>
        
        <div class="form-group row">
          <label for="pass" class="col-sm-3">Password: * </label>
          <input type="password" class="form-control col-sm-9" placeholder="Password" formControlName="password" id="pass">
          <span class="font-italic" *ngIf = "resetForm.controls['password'].touched && resetForm.controls['password'].hasError('required')">Password is required</span>
          <span class="font-italic" *ngIf = "resetForm.controls['password'].hasError('pattern')">Password must be alphanumeric, must have atleat one special character (@, _ and - are allowed) and must be 6 - 20 characters</span>
        </div>

        <div class="form-group row mb-3">
          <label for="confirmPass" class="col-sm-3">Confirm Password: * </label>
          <div class="input-group col-sm-9 p-0 mt-2">
            <input [type]="show ? 'text' : 'password'" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" id="confirmPass" />
            <div class="input-group-append">
              <div class="input-group-addon">
                <button type="button" (click)="revealPass()" class="btn btn-success pass">
                  <i *ngIf="!show" class="fa fa-eye"></i>
                  <i *ngIf="show" class="fa fa-eye-slash"></i>
                </button></div>
            </div>
          </div>
          <span class="font-italic" *ngIf = "resetForm.errors?.mismatch && resetForm.controls['confirmPassword'].touched && resetForm.controls['password'].dirty">Passwords do not match</span>
        </div>

        <div class="row">
            <button type="submit" class="btn btn-success" [disabled]="resetForm.invalid || resetDisabled" (click)="postdata()">Reset Password</button>
        </div>
      </form>
    </div>
      <br>
  </div>
    